.logo {
    max-width:310px;
    max-height:46px;
    margin-top: 5px;
}

.button-index {
    margin-bottom: 20px;
}

.center-div {
    position:relative;
	top: 17vh;
}

.div-cadastro {
    position:relative;
	top: 5vh;
}
